@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 100 900;
  font-display: fallback;
  src: url('../src/assets/fonts/Exo/Exo-VariableFont_wght.woff2')
    format('woff2');
}

body {
  margin: 0;
  font-family: Exo, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* nav a.active {
  text-decoration: underline;
} */
